
<hr>
<div class="container-fluid" >    
    <h4 style="text-align: center"> Registro de un nuevo certificado</h4>
    <br>
    <div class="col-sm-4" >
        <form  class="FormularioRaza" name="Cerificado">   
            <br>
        <div>
            <center>
            <lable>Fecha:</lable>&nbsp;<input type="date" class="fechaCertificado" required ng-model="data.fecha" placeholder="fecha">
            </center>
        </div>    
            <br>
        <div>
            <center>
            <lable>Descripción:</lable>&nbsp;<input type="text" class="descripciónCertificado" required ng-model="data.descripcion" placeholder="descripción">  
           </center>
        </div>
             <br>
            <div>
            <center>
            <lable>Imagen:</lable>&nbsp;<input type="text" class="ImagenCertificado" required ng-model="data.imagen" placeholder="urlImagen">  
           </center>
            </div>
            <br>
            <center>
                <button  ng-click="createCertificado()" ui-sref="certificadosList" >Registrar</button>
            </center>
            <center>
            <a class="btn btn-info" ui-sref="certificadosList">Cancel</a>
            </center>
        </div> 
    </form>
    </div>
    <div class="col-sm-6">
        <img src="imagenes/registro.jpg" width="800">
    </div>
</div>