  <div  class="container-fluid">      
        <hr> 
        <h3>ID:{{id}}</h3>
        <h3 >Editando la informacion de: {{nombreEspecie}}  </h3
        <br>
        <div class="row">
            <form  class="FormularioEspecie" name="Especie" ng-submit="createEspecie()" style="min-height: 300px">   
                   
                    <div class="col-md-4">
                    <center> 
                    <h2>Datos Basicos:</h2>
                    </center>
                        
                    <center>
                        <br>
                        <lable>Nombre:</lable>&nbsp;<input type="text" class="nombre" required ng-model="nombreEspecie" id="nombreEspecie" placeholder="nombre">
                        <br>
                        <br>
                        <lable>Clasificacion:</lable>&nbsp;<input type="text" class="Clasificacion" required ng-model="ClasificacionEspecie" id="ClasificacionEspecie" placeholder="clasificacion"> 
                        <br>
                        <br>
                        <lable>Imagen:</lable>&nbsp;<input type="text" class="Imagen" required ng-model="ImagenEspecie" id="ImagenEspecie" placeholder="urlImagen">  
                        <br>
                        <br>
                        <lable>Caracteristicas:</lable>&nbsp;<input type="text" class="CaracteristicaS" requiere ng-model="CaracteristicasEspecie" id="CaracteristicasEspecie" placeholder="carracteristicas" >
                        <br>
                         <a ng-click="createEspecie()"  ui-sref="especiesList"><input type="button" value="Editar"></a>
                         <a class="btn btn-info" ui-sref="especiesList">Cancel</a>
                    </center>
                    </div>
                    
            </form>        
        </div>       
    </div>