<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <!-- Enlace al estado de listar las entidades de Sierra -->

            <li><a ui-sref="calificacionList">Lista</a></li>
            <li><a ui-sref="calificacionCreate">Crear</a></li>
            <li><a ui-sref="calificacionUpdate">Modificar</a></li>
        </ul>
    </div>
</div>
<hr>
<div class="container-fluid">
    <form name="calificacion">
        <div class="form-group row">
            <div class="form-group col-md-6">
                <label for="calificaiconId" class="col-sm-2">ID:</label>
                <input id="calificacionId" required ng-model="data.id" class="col-sm-6"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6">
                <label for="calificaiconValor" class="col-sm-2">Calificacion:</label>
                <input id="calificacionValor" required ng-model="data.valor" class="col-sm-6"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col-md-6">
                <label for="calificacionComentarios" class="col-sm-2">Comentarios</label>
                <textarea id="calificacionComentarios" required ng-model="data.comentarios" class="col-sm-6"></textarea>
            </div>
        </div>  
        <div class="form-group row">
            <div class="form-group col-md-6">
                <label for="calificacionSugerencia" class="col-sm-2">Sugerencias</label>
                <textarea id="calificacionSugerencia" required ng-model="data.sugerencia" class="col-sm-6"></textarea>
            </div>
        </div>  
        <div class="form-group row">
            <div class="form-group col-sm-12">
                <a class="btn btn-info" ui-sref="calificacionList">Cancel</a> <input  ng-click="updateCalificacion()"value="Agregar Calificacion" class="btn btn-success"/>
            </div>
        </div>
        
    </form>
</div>