
<hr>
<div ng-if="isAuthenticated() && hasPermissions()" class="container-fluid" >    
    <h4 style="text-align: center"> Registro de una nueva Raza</h4>
    <br>
    <div class="col-sm-4" >
        <form  class="FormularioRaza" name="Raza">   
            <br>
        <div>
            <center>
                <lable>Nombre:</lable>&nbsp;<input type=text class="nombreRaza" required ng-model="data.nombreRaza" placeholder="nombre">
            </center>
        </div>    
            <br>
        <div>
            <center>
            <lable>Cuidados:</lable>&nbsp;<input type=text class="CuidadosRaza" required ng-model="data.cuidados" placeholder="cuidados">  
           </center>
        </div>
             <br>
        <div>
            <center>
            <lable>Destacable:</lable>&nbsp;<input type=text class="destacableRaza" required ng-model="data.destacable" placeholder="destacable">  
           </center>
        </div>
             <br>
        <div>
            <center>
            <lable>Caracteristticas:</lable>&nbsp;<input type=text class="CaracteristicasRaza" requiere ng-model="data.caracteristicas" placeholder="carracteristicas" >
            </center>
         </div>
          <br>
          <div>
            <center>
                <select class="form-control" name="singleSelect" ng-model="data.especie">
                        <option value="">--- Seleccione una especie ---</option> <!-- not selected / blank option -->
                        <option value="especie" ng-repeat="especie in especiesRecords">{{especie.nombre}}</option>
                </select>
            </center>
         </div>
            <br>
         <div>
            <center>
                <button  ng-click="createRaza()" ui-sref="razasList" >Registrar</button>
               <a class="btn btn-info" ui-sref="razasList">Cancel</a>
            </center>
        </div> 
    </form>
    </div>
    <div class="col-sm-6">
        <img src="recursos/img/registro.jpg" width="800">
    </div>
</div>