
<div class="container-fluid">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <a class="btn btn-info" ui-sref="clienteCreate"><span class="glyphicon glyphicon-plus-sign"></span> Add new cliente</a>
        </div>
    </div>
    <table class="table table-striped col-md-5">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Cedula </th>
                <th>Telefono</th>
                <th>Correo electronico</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cliente in clienteRecords">

                <td id="{{$index}}-Nombre"><a ui-sref="clienteDetail({clienteId:cliente.id})">{{cliente.nombre}}</a></td>
                <td id="{{$index}}-Apellido">{{cliente.apellido}}</td>
                <td id="{{$index}}-Cedula">{{cliente.cedula}}</td>
                <td id="{{$index}}-Telefono">{{cliente.telefono}}</td>
                <td id="{{$index}}-Correoelectronico">{{cliente.correo}}</td>
                
                <td id="{{$index}}-Borrar"><a ui-sref="clienteDelete({clienteId:cliente.id})"><input type="button" ng-click="deleteCliente()" value="Borrar"></a></td>
                 <td id="{{$index}}-Editar"><a ui-sref="clienteUpdate({clienteId:cliente.id})"><input type="button" ng-click="createCliente()" value="Editar"></a></td>
            </tr>
        </tbody>
    </table>
</div>

