
<div class="row" style="background-color: lightgray">
    <hr>
    
    <div class="TitEspDel">
        <center> <label style="font-size:50px">{{currentRaza.nombreRaza}}</label> </center>
        <center> <h3> <a ui-sref="especieDetail({especieId: currentRaza.especie.id})">{{currentRaza.especie.nombre}}</a></h3> </center>
    </div>
    <div class="row" >
        <div class="col-md-3"> 
        </div>
        <div class="col-md-2">
            <h4>CARACTERISTICAS:</h4> 
            <div class="thumb">
                <p>{{currentRaza.caracteristicas}}</p>
            </div>
             <h4>DESTACABLE:</h4> 
            <div class="thumb">
                <p>{{currentRaza.destacable}}</p>
            </div>
            <h4>CUIDADOS:</h4>
            <div>
                <p>{{currentRaza.cuidados}}</p>
            </div>
        </div>
        <div class="col-md-3">
             <h4 ng-if="currentRaza.mascotas.length>0">MASCOTAS</h4>
            <div>
                <ul ng-repeat="mascota in currentRaza.mascotas">
                    <li><a ui-sref="mascotaaDetail({mascotaId: mascota.id})">{{mascota.nombre}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>