<!--LiSTA DE  RAZAS -->
<div class="container-fluid" >
    <div class="row" >
        <div class="col-md-3" ng-repeat="raza in razasRecords">
            <div class="thumbnail" style="background-color: gray">
                <div>  <label> Nombre: </label> {{raza.nombreRaza}}</div>
                 <div> <label> Destacable: </label> {{raza.destacable}}</div>
                <center> 
                    <a ui-sref="razaDetail({razaId: raza.id})"><input type="button" value="Detalles"></a>
                    <a ui-sref="razaEdit({razaId: raza.id})" ng-if="isAuthenticated() && hasPermissions()"><input type="button" value="Editar"></a>
                    <a ui-sref="razaDelete({razaId: raza.id})" ng-if="isAuthenticated() && hasPermissions()"><input type="button" value="Borrar" ng-if="raza.mascotas.length===0 && raza.especie===null"></a>
                </center>
            </div>
        </div>        
    </div>
    
</div>