  <div  class="container-fluid">      
    <hr> 
    <h3>ID:{{currentCertificado.id}}</h3>
    <br>
     <center>
    <div class="col-sm-10" >
       
        <form  class="FormularioEspecie" name="Raza" ng-submit="createCertificado()">   
            <br>
        <div>
            <center>
                <lable>Nueva fecha:</lable>&nbsp;<input type="date" class="fecha" required ng-model="fechaCertificado" id="fechaCertificado" placeholder="fechaCertificado">
            </center>
        </div>    
       
             <br>
             <div>
            <center>
                <lable>Descripcion:</lable>&nbsp;<input type="text" class="descripcion" required ng-model="DescripcionCertificado" id="DescripcionCertificado" placeholder="descripcion">  
           </center>
        </div>  
             <br>
        <div>
            <center>
                <lable>Imagen:</lable>&nbsp;<input type="text" class="ImagenCertificado" requiere ng-model="ImagenCertificado" id="ImagenCertificado" placeholder="url del certificado" >
            </center>
            <br>
            <center>
                <center> <a ng-click="createCertificado()"  ui-sref="certificadosList"><input type="button" value="Editar"></a></center>
            </center>
            <center>
            <a class="btn btn-info" ui-sref="certificadosList">Cancel</a>
            </center>
        </div> 
    </form>
              
     </div>
            </center>