<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <h1 class="TituloAdopcion">ADOPCION</h1> 
     <div  class="row">
        <div class="col-sm-2" ng-repeat="mascota in mascotaadopRecords">
            <br>
            <div  class="container-fluid" >
                <div><center>
                    <img  src="{{mascota.imagen}}" class="ImagenMascotas" >
                    </center></div>
                <div style="text-align: center">  <label> Nombre:</label>{{mascota.name}}</div>
                <!--Ejemplo para detail   
                <div style="text-align: center"><label> Raza:</label>{{mascota.raza.nombre}}</div>
                -->
                <div>
                    <center>
                        <input type="button" value="Ver" >
                    </center>
                </div>
            </div>
 </div>