<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <!-- Enlace al estado de listar las entidades de Sierra -->
            <li><a ui-sref="acontecimientoList">Lista</a></li>
            <li><a ui-sref="acontecimientoCreate">Crear</a></li>
        </ul>
            </div>
</div>
<hr>
<h4>Crear Acontecimiento: </h4><br><br>
      <div class="container-fluid">
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="acontecimientoNombre" class="col-sm-3">Acontecimiento:</label>
            <input placeholder="Nombre del acontecimiento" type="text" id="acontecimientoNombre" required ng-model="data.nombre" class="col-sm-6"/>
        </div>
    </div>
    
          <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="acontecimientoTipo" class="col-sm-3">Tipo:</label>
            <input placeholder="Tipo de acontecimiento" type="text" id="acontecimientoTipo" required ng-model="data.tipo" class="col-sm-6"/>
        </div>
    </div>
          
       <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="acontecimientoImportancia" class="col-sm-3">Importancia:</label>
            <input placeholder="1-10" min="1" max="10" type="number" id="acontecimientoImportancia" required ng-model="data.importancia" class="col-sm-6"/>
        </div>
    </div>
       
          <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="acontecimientoDescripcion" class="col-sm-3">Descripcion: </label>
            <textarea placeholder ="Descripcion del acontecimiento" id="acontecimientoDescripcion" required ng-model="data.descripcion" class="col-sm-6"></textarea>
        </div>
              
      
    </div>
 <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="acontecimientoFecha" class="col-sm-3">Fecha:</label>
            <input type="text" id="acontecimientoFecha" required ng-model="data.fecha" class="col-sm-6"/>
        </div>
   </div>
    
            <div class="form-group row">
            <div class="form-group col-sm-12">
                <a class="btn btn-info" ui-sref="acontecimientoList" >Cancelar</a>
                <input  ng-click="createAcontecimiento()"value="Guardar" class="btn btn-success"/>
            </div>
        </div>
      </div>