<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
     <h1 style='text-align: center'>ADQUIERA UNA MASCOTA</h1> 
     <div style="background-color:lightgray">
                <ul class="nav nav-tabs"> 
                    <li> <a ui-sref="dasd">Adopccion </a></li>
                    <li> <a ui-sref="dasd">Compra </a></li>
                </ul>
         </div>
     <div  class="row">
        <div class="col-sm-4 col-md-6" ng-repeat="mascota in mascotaRecords">
            <br><br>
            <div  class="thumbnail" >
                <div>  <label> Nombre:  {{mascota.name}}</div>
                <div> <label> Clasificacion:  {{mascota.edad}}</div>
            </div>
        </div>
            
        </div>
 </div>