<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
     <h1 style='text-align: center'>ADQUIERA UNA MASCOTA</h1> 
     <div style="background-color:lightgray">
                <ul class="nav nav-tabs"> 
                    <li> <a ui-sref="mascotasadoptadas"> Adopccion </a></li>
                </ul>
         </div>
     <div  class="row">
        <div class="col-sm-2" ng-repeat="mascota in mascotaRecords">
            <br>
            <div  class="thumbnail" >
                <div><center>
                    <img  src="{{mascota.imagen}}" class="ImagenMascotas" >
                    </center></div>
                <div style="text-align: center">  <label> Nombre:  {{mascota.name}}</div>
                 <div>
                    <center>
                        <input type="button" value="Ver" >
                    </center>
                </div>
            </div>
            
 </div>
