<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>



<div class = "container-fluid" style="margin: 10%; padding: 0; padding-left: 20px; border-left: 0.5px solid grey; box-shadow:  -5px 0 1px rgba(0,0,0,0.4)">
    <div class="well">
        <h2>
            Facturas
        </h2>
    </div>
    <div class="row" style=" margin:1%" >

        <!--Lista de Facturas-->
        <div class="col-sm-6 col-lg-6 col-md-6" ng-repeat="factura in facturaRecords" >
            <div class="thumbnail " style=" border-radius: 5%">
                <h3 style="margin:5%">
                    Factura Adquisición
                </h3>
                <div class="container-fluid" style="padding-left:5%">
                    <div class ="row" style="">
                        <div class = "col-sm-6">
                            <label>id Factura: &nbsp; </label><label>{{factura.id}}</label><br>
                            <label>id Cliente:  &nbsp;</label><label> {{factura.idCliente}}</label><br>
                            <label>nombre Cliente:  &nbsp;</label><label>{{factura.nombreCliente}}</label><br>
                            <label>valor:  &nbsp;</label><label>{{factura.valor}}</label>
                        </div>
                    </div>
                    <h4 style="border-top: 0.05px solid grey">Adquisición</h4>
                    <div class ="row" style="padding-left:5%">
                        <div class = "col -lg-12">
                            <label>id: &nbsp;</label><label>{{factura.adquisicion.id}}</label><br>

                            <label>Fecha: &nbsp;</label><label>{{factura.adquisicion.fecha}}</label>
                        </div>

                    </div>
                </div>


            </div>



        </div>

    </div>
</div>