<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>

<div class="container-fluid" style="margin: 10%; padding: 0; padding-left: 20px; border-left: 0.5px solid grey; box-shadow:  -5px 0 1px rgba(0,0,0,0.4)">
    <div class="well">
        <h2>
            Comprobantes
        </h2>
    </div>
    
    <div class="row">
        <div  class="col-sm-12 col-lg-6 col-md-6" ng-repeat="comprobante in comprobanteRecords">
            <div class="thumbnail">
                <h3>Amigos Peludos</h3>
                <p>Av cll 40 # 18 22</p>
                <p>Bogotá Cundinamarca</p>
                <hr>
                <label>Comprobante de venta #</label><label>{{comprobante.id}}</label><br>
                <hr>
                <label>Pagado por: </label><label>{{comprobante.medioDePago.tipo}}</label><br>
                <label>Total: </label> <label>{{comprobante.valorTotal}}</label><br>
                <hr>
                <label>Pagado en: </label><label>{{comprobante.fecha}}</label>
            </div>
        </div>
    </div>
</div>