<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <!-- Enlace al estado de listar las entidades de Sierra -->
            <li><a ui-sref="publicacionList">Lista</a></li>
            <li><a ng-if="isAuthenticated() && hasPermissions()" ui-sref="publicacionCreate">Crear</a></li>

        </ul>
    </div>
</div>
<h2>Últimas Publicaciones:</h2>
<div class="container-fluid">
    <div id = 'publicaciones_list' class="col-sm-6 col-md-4 col-lg-2 col-xs-12" ng-repeat="publicacion in publicaciones">
        <p id ="{{$index}}-publicacionId" style = "visibility:hidden">{{publicacion.id}}</p>
        <div  class="thumbnail">
            <img  style = "border-radius:5%"id="{{$index}}-publicacionfotoURL" class="img-responsive" ng-src='{{publicacion.fotoURL}}' alt="{{publicacion.nombre}}" />  
        </div>
        <div class="row">
            <b>Tipo:</b>
            <p id="{{$index}}-publicacionTipo">{{publicacion.tipo}}</p>
        </div>
        <div class ="row">
            <b>Fecha:</b>
            <p id="{{$index}}-publicacionfecha">{{publicacion.fecha|date}}</p>
        </div>
        <div class ="row">
            <b>Comentario:</b>
            <p id="{{$index}}-publicacionComentario">{{publicacion.comentario}}</p>
        </div>
        <div id='btns_publicacion_list'  class ="row">
            <p id="{{$index}}-Editar"><a class="btn btn-primary"ui-sref="publicacionUpdate({publicacionId:publicacion.id})"><span class="glyphicon glyphicon-edit"></span></a></p> 
            <p id="{{$index}}-Borrar"><a class="btn btn-danger"ui-sref="publicacionDelete({publicacionId:publicacion.id})"><span class="glyphicon glyphicon-trash"></span></a></p> 
        </div>
        
    </div>          