<div class="container-fluid">
    <h1 style="text-align: center"><strong>Venta</strong></h1> 
    <div class="row">
        <div>
            <ul class="nav nav-tabs" style="background-color: lightblue" ng-if="isAuthenticated() && hasPermissions()">
                <li style="background-color:beige"><a ui-sref="mascotasVentaList"> Lista Venta</a></li>
                <li ng-if="isAuthenticated() && hasPermissions()" style="background-color:beige"><a ui-sref="mascotaVentaCreate"> Registrar </a></li>
            </ul>
        </div>
    </div>
       <div ui-view="listView"></div>
    <div class="row">
        <div ui-view="detailView"></div>
    </div>
</div>