<!--LiSTA DE  ESPECIES -->
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-3" ng-repeat="especie in especiesRecords">
            <div class="thumbnail" style="background-color: gray">
                <div class="container-fluid">
                    <center>
                    <img  ng-src="{{especie.imagen}}" class="ImagenEspecie img-responsive" >
                     </center>
                </div>
                <div style="text-align: center"><label>{{especie.nombre}}</label></div>
                <center> 
                    <a ui-sref="especieDetail({especieId: especie.id})"><input type="button" value="Detalles"></a>
                    <a ng-if="isAuthenticated() && hasPermissions()" ui-sref="especieEdit({especieId: especie.id})" ng-if="isAuthenticated() && hasPermissions()"><input type="button" value="Editar">
                     <a ui-sref="especieDelete({especieId: especie.id})" ng-if="isAuthenticated() && hasPermissions()" ><input type="button" value="Borrar" ng-if="especie.razas.length===0 && especie.mascotas.length===0"></a>
                </center>
                <center>
                    <div ng-if="especie.razas.length>0 && especie.mascotas.length>0">
                    <p>para borrar una especie no debe tener nada asociado</p>
                </div>
                </center>
            </div>
        </div>        
    </div>
</div>