<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" >
            <li style="background-color: beige"><a ui-sref="especiesList">Lista Especies</a></li>
        </ul>
</div>
</div>
<hr>

<div class="container-fluid" >
    
    <h4 style="text-align: center"> Registro de una nueva Especie</h4>
    <br>
    <div class="col-sm-4" >
        <form  style="background-color: lightsteelblue">   
        <div>
            <lable>Nombre:</lable>&nbsp;<input type="text" class="nombreEspecie" required ng-model="especie.nombre" placeholder="nombre">
           
        </div>    
            <br>
        <div>
            <lable>Clasificacion:</lable>&nbsp;<input type="text" class="ClasificacionEspecie" required ng-model="especie.clasificacion" placeholder="clasificacion">  
           
        </div>
             <br>
        <div>
            <lable>Caracteristticas:</lable>&nbsp;<input type="text" class="CaracteristicasEspecie" requiere ng-model="especie.caracteristicas" placeholder="carracteristicas" >
            
        </div> 
             <br>
             <input type="submit" style="margin-left: 250px">
    </form>
    </div>
    
    <div class="col-sm-2" >
        <h5 class="TituloTablaCentrado">Especies regitradas</h5>
        <div ng-repeat="especie in especiesRecords">
            <ul>
                <li style=><b>{{especie.nombre}}</b></li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="imagenes/registro.jpg" width="800">
    </div>
</div>